<!DOCTYPE HTML>
<html>
    <head>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    </head>
    <body>
        <div id="center">
            <div class="instr" id="title">My Data</div>
            <a href="./existing_data.html">
                <div class="tile">
                    <div class="tile-text">Existing</div>
                </div>
            </a>
            <a href="./new_data.html">
                <div class="tile">
                    <div class="tile-text">Upload File</div>
                </div>
            </a>
            <a href="./new_data.html">
                <div class="tile">
                    <div class="tile-text">Create New</div>
                </div>
            </a>
        </div>
    </body>
</html>
