<!DOCTYPE HTML>
<html>
    <head></head>
    <body>
        <a href="./existing_data.html">
            <div class="tile">
                <div class="tile-text">Existing</div>
            </div>
        </a>
        <a href="./new_data.html">
            <div class="tile">
                <div class="tile-text">Upload File</div>
            </div>
        </a>
        <a href="./new_data.html">
            <div class="tile">
                <div class="tile-text">Create New</div>
            </div>
        </a>
    </body>
</html>
