<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    </head>
    <body>
        <div>Select what you would like to see</div>
        <a href="./story.html">
            <div class="tile">
                <img src="../img/story_tile.jpeg"/>
                <div class="tile-text">My Story</div>
            </div>
        </a>
        <a href="./data.html">
            <div class="tile">
                <img src="../img/data_tile.jpeg"/>
                <div class="tile-text">My Data</div>
            </div>
        </a>
    </body>
</html>
