<!DOCTYPE HTML>
<html>
<head>
      <link rel="stylesheet" type="text/css" href="../css/style.css"/>
	  <link rel="stylesheet" type="text/css" href="../css/table.css"/>
	  <script src="../js/table.js"></script>
</head>
<body>
<div class="instr">Insert your data below</div>
<div id="center">
<table></table>
<button onclick="myFunction()">Add Height</button>
<button onclick="myFunction()">Subtract Height</button>
<button onclick="myFunction()">Add Width</button>
<button onclick="myFunction()">Subtract Width</button>
</body>
</html>