<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/roboto.css"/>
	<link rel="stylesheet" type="text/css" href="../css/robotocon.css"/>
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
	<link rel="stylesheet" type="text/css" href="../css/table.css"/>
	<script src="../js/table.js"></script>
</head>
<body>
<div id="center_data">
<div class="instr">Insert your data below</div>
<table cellspacing="0" cellpadding="1" border="1" width="300"></table>
<button id="+y">Add Height</button>
<button id="-y">Subtract Height</button>
<button id="+x">Add Width</button>
<button id="-x">Subtract Width</button>
</body>
</html>